[Unit]
Description=Display Config Bindings for gnome-control-center
StartLimitInterval=200
StartLimitBurst=2

[Service]
ExecStart=/usr/bin/regolith-displayd
Restart=on-failure
Restart=always
RestartSec=1
Type=dbus
BusName=org.gnome.Mutter.DisplayConfig

[Install]
WantedBy=default.target
