[Unit]
Description=Start Regolith Display Daemon
PartOf=graphical-session.target
Wants=gnome-session.target
After=gnome-session.target

Requires=regolith-init-kanshi.service
Before=regolith-init-kanshi.service

StartLimitIntervalSec=30
StartLimitBurst=5

[Service]
Type=dbus
BusName=org.gnome.Mutter.DisplayConfig
ExecStartPre=/usr/bin/regolith-displayd-init
ExecStart=/usr/bin/regolith-displayd
Restart=on-failure
RestartSec=5


[Install]
WantedBy=regolith-wayland.target
